<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "portfolio/css/home.css" %}">

    <title>Portfólio</title>
</head>
<body>
    <header>
        
        <div class='header-main'>
            <h1>Portfólio</h1>
            <button type="submit">teste</button>
        </div>

        <div class="buttons-header">
            
        </div>

    </header>
</body>
</html>